{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-5">


        <div class="mx-auto" style="width: 40%">
            <h3>Add new employees</h3>

            {{ form(form) }}
            <a class="btn btn-danger" href="{{ path('list_employees')}}" role="button">Return to menu</a>
        </div>

    </div>
{% endblock %}